@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 4rem;
  }
  .about-containers {
    flex-wrap: wrap;
    
  }
  .about-details-container {
    margin-top: 2rem;
    margin-right: 40px;
    left: 70px;
  }
  #contact,
  #projects {
    height: fit-content;
  }
 
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 3rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 30px;
  }
}

/* Add these styles to your existing mediaqueries.css */

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px; /* Adjust font size for better readability on smaller screens */
  }

  .logo {
    font-size: 1.5rem; /* Decrease logo size */
  }

  /* Navigation */
  nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    margin-top: 20px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  /* Profile Section */
  #profile {
    padding: 30px 20px;
  }

  .section__text__p1 {
    font-size: 1.2rem; /* Decrease font size */
  }

  .title {
    font-size: 2rem;
  }

  .btn-container {
    flex-direction: column;
  }

  .btn {
    width: 100%; /* Make buttons full width */
    margin-bottom: 10px;
  }

  #socials-container {
    margin-top: 20px;
  }

  /* About Section */
  #about {
    padding: 30px 20px;
  }

  .about-details-container {
    flex-direction: column;
    margin-right: 40px;
  }

  .about-containers,
  .text-container {
    width: 100%; /* Make containers full width */
    position: relative;
    right: 30px;
  }

  /* Experience Section */
  #experience {
    padding: 30px 20px;
  }

  .experience-details-container {
    flex-direction: column;
  }

  .details-container {
    margin-bottom: 20px;
  }
  

  /* Projects Section */
  #projects {
    padding: 30px 20px;
  }

  .color-container {
    padding: 15px;
  }

  .project-img {
    margin-bottom: 10px;
  }

  /* Contact Section */
  #contact {
    padding: 30px 20px;
  }

  .contact-info-upper-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-info-container {
    margin: 10px 0;
  }
}
@media only screen and (max-width: 500px){
  .about-details-container{
    position: relative;
    right: 60px;
  }
}
